# Backend
GEMINI_API_KEY=AIzaSyA8K1DofStyM1vcuOkh70s5m6PP4yQGcDA || AIzaSyCC4eLdkdn0AFeE-d34Ohd7NkxChY6dLEc
GEMINI_MODEL=gemini-2.0-flash
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
